&-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, 137px);
    gap: 25px 50px;
}

&-item {
    img {
        display: block;
        width: 100%;
        max-width: 250px;
        max-height: 250px;
        margin-bottom: 18px;
    }

    h3 {
        font-size: 18px;
        line-height: 27px;
        color: #fff;
    }

    p {
        color: $text-second;
    }
}

@media (min-width: 768px) {
    &-wrap {
        grid-template-columns: repeat(auto-fill, 250px);
    }
}