$font-family: "Roboto", sans-serif;
$second-family: "Arial", sans-serif;
$text-primary: #cacaca;
$text-second: #e0e0e0;
$bg-color: #08020d;
$search-color:#3c3b3d;
$primary-green: #34C176; 
$primary-orange: #F89202;
$primary-purple: #5328A1;
$primary-brown: #95390C;